/*titles*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/*body*/
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');
/*<weight>: Use a value from 100 to 900*/


:root {
    --background-primary: #fffbf6;
    --background-secondary: #FFECC5;
    --background-hover: #ECBF69;
    --color-theme: #fca2a4;
    --color-theme-hover: #FCBFC0;
    --color-link: #b6773c;
    --color-link-hover: #7d532b;
    --box-shadow-color: rgb(236, 191, 105, 0.3);

    --background-underlay: #4c3f36;
    --background-underlay-hover: #6f5c4f;
    --color-primary: #4c3f36;
    --color-input: #fffbf6;
    --border-radius-small: 4px;
}

.pink {
    --background-primary: #FEF5F0;
    --background-secondary: #FCBFC0;
    --background-hover: #fca0a2;
    --color-theme: #FFECC5;
    --color-theme-hover: #ECBF69;
    --color-link: #cb85e4;
    --color-link-hover: #a863c2;
    --box-shadow-color: rgb(255, 173, 175, 0.3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gabarito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: var(--background-primary);
    color: var(--color-primary);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 1rem 0;
}

header,
main,
footer {
    background-color: var(--background-primary);
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: column;
    gap: 0.25 rem;
    margin-top: 5rem;
}

header h1 {
    width: fit-content;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 0.5rem;
    background-color: var(--background-primary);
    box-shadow: 0 2px 4px var(--box-shadow-color);
    z-index: 999;
}

main {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 1;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 2rem;
}

.footer-name {
    padding: 0 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-primary);
}

h1,
h2 {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: fit-content;
}

h1 {
    font-size: 40px;
}

h3 {
    font-weight: 600;
    text-align: center;
}

p {
    color: var(--color-primary);
}

i {
    color: var(--color-primary);
}

li {
    padding: 0.5rem;
}


ul.custom-bullets li {
    list-style: none;
    position: relative;
    padding-left: 1.5rem;
}

ul.custom-bullets li::before {
    content: "✦ ";
    position: absolute;
    left: 0;
    color: var(--background-hover);
}

input[type=number] {
    background-color: var(--color-primary);
    color: var(--color-input);
    border: 1px solid var(--color-primary);
    border-radius: var(--border-radius-small);
    padding: 0.5rem;
    font-size: 1rem;
    text-align: center;
}

input[type=number]::placeholder {
    color: var(--color-input);
    opacity: 0.5;
}

input[type=number]:hover {
    border: 2px solid var(--background-hover);
}

input[type=number]:focus {
    outline: none;
    /*removes default browser glow */
    border: 2px solid var(--background-hover);
    box-shadow: 0 0 4px var(--background-hover);
}

/* For Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

button,
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-secondary);
    color: var(--color-primary);
    border: none;
    border-radius: var(--border-radius-small);
    padding: 1rem;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    /* so <a> looks like button */
    transition: 200ms;
}

/* Stitches border effect */
button::before,
.btn::before {
    content: "";
    position: absolute;
    inset: 6px;
    border: 2px dashed var(--color-primary);
    border-radius: inherit;
    pointer-events: none;
}

button:hover,
.btn:hover {
    background-color: var(--background-hover);
}

/*Classes in order of appearance (mostly)*/

.website-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-round {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    padding: 0;
}

.theme i {
    color: var(--color-theme);
}

.theme:hover {
    background-color: var(--color-theme-hover);
}

.advices-list {
    text-align: center;
    padding-bottom: 2rem;
}

.a-hyperlink {
    color: var(--color-link);
}

.a-hyperlink:hover {
    color: var(--color-link-hover);
}

.star {
    color: var(--background-hover);
}

.last-words {
    font-size: 18px;
    text-align: justify;
    padding: 2rem;
}

.explanations {
    padding-top: 1rem;
}

.accordion {
    cursor: pointer;
    padding: 1rem;
    width: 100%;
    border: 1px solid var(--color-primary);
    border-radius: var(--border-radius-small);
    display: flex;
    justify-content: space-between;
}

.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
    padding: 0 1rem;
}

.panel.open {
    max-height: 800px;
    padding: 1rem;
    border: 1px solid var(--color-primary);
    border-radius: var(--border-radius-small);
}

.rules-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.rule-item {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-bottom: 1rem;
}

.rule-title {
    font-weight: 800;
    text-align: center;
}

.panel-grid {
    display: flex;
    align-items: center;
    justify-content: center;
}

.abbreviations-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 0.5rem 1rem;
    align-items: start;
    margin: 1rem 0;
}

.abbreviation {
    font-weight: 800;
}

.advice {
    padding: 1rem;
}

.crochet-plan-grid {
    padding-top: 2rem;
}

.crochet-plan-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
}

.plan-card {
    position: relative;
    cursor: pointer;
    flex-shrink: 0;
    width: 100%;
}

.inactive {
    position: relative;
    z-index: 1;
    cursor: not-allowed;
    opacity: 0.5;
}

.plan-card-header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: left;
}

.icon-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.crochet-container {
    grid-column: span 3 / span 3;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.crochet-grid {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr;
    gap: 0.5rem;
    overflow-x: auto;
}

.inside-card-header {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: left;
}

.inside-card-header p:first-of-type,
.inside-card-header i {
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1rem;
}

.exercise-name {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.exercise-name p {
    font-weight: 400;
}

.stitch-count,
.stitch-input {
    width: 100%;
    text-align: center;
}

.video-container-padding {
    padding: 1rem;
}

.video-container {
    background-color: var(--background-secondary);
    grid-column: span 7 / span 7;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0;
    border: 4px dashed var(--color-primary);
    border-radius: var(--border-radius-small);
}

.crochet-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.font-buttons {
    color: var(--color-primary);
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

input:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

button.help-icon {
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 0.25rem;
    cursor: pointer;
    color: var(--color-primary);
}

.no-dash::before {
    content: none;
}

button.help-icon:hover {
    color: var(--border-highlight);
    transform: scale(1.1);
}

button.help-icon i {
    font-size: 1.5rem;
}

.exercise-info {
    margin: auto 0;
}

.skill-name {
    text-transform: capitalize;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    padding: 1rem;
}

.modal-underlay {
    position: absolute;
    inset: 0;
    background: var(--background-underlay);
    opacity: 0.8;
    z-index: 99;
    width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: unset;
}

.modal-underlay:hover {
    background: var(--background-underlay-hover);
    transform: unset;
    box-shadow: unset;
}

.modal-content {
    position: relative;
    z-index: 101;
    width: 100%;
    margin: 0 auto;
    max-width: 600px;
    max-height: 90vh;
    border: 1px solid var(--color-primary);
    border-radius: var(--border-radius-small);
    background: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    overflow: auto;
}

.modal-title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 1rem;
}

.modal-title h2 {
    color: #050400;
}

.diagram {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 70vh;
    object-fit: contain;
}

@media (min-width: 640px) {

    body {
        background: url("/src/assets/bg-custom-motif-optimized.svg") repeat fixed;
        background-size: auto;
        padding: 0;
    }

    header,
    main {
        padding: 2rem;
    }

    footer {
        padding: 0rem 2rem 2rem;
    }

    h1 {
        font-size: 70px;
    }

    .abbreviations-grid {
        grid-template-columns: 1fr 2fr 1fr 2fr;
    }

    .crochet-plan-grid {
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 1rem;
    }

    .crochet-container {
        grid-column: span 4 / span 4;
    }

    .plan-card-header p:first-of-type,
    .plan-card-header i {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }

    .video-container {
        padding: 2rem;
    }

    .diagram {
        max-width: 500px;
    }
}

@media (min-width: 768px) {

    .crochet-plan-grid {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }

    .crochet-container {
        grid-column: span 5 / span 5;
    }
}